@import "../../style/themes/default";
@import "../../style/mixins/index";

@radio-prefix-cls: ~"@{ant-prefix}-radio";
@radio-group-prefix-cls: ~"@{radio-prefix-cls}-group";
@radio-inner-prefix-cls: ~"@{radio-prefix-cls}-inner";
@radio-duration: .3s;


.@{radio-prefix-cls}-wrapper {
  margin-left: 8px;
}

.@{radio-prefix-cls}-button-wrapper {

  .@{radio-group-prefix-cls}-small & {

    &:first-child {
      border-radius: 0 @border-radius-sm @border-radius-sm 0 ;
    }
    &:last-child {
      border-radius: @border-radius-sm 0  0 @border-radius-sm ;
    }
  }

  &:first-child {
    border-radius:0 @border-radius-base @border-radius-base 0;
  }

  &:last-child {
    border-radius:  @border-radius-base 0 0 @border-radius-base ;
  }

}

